<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../partials/nav.ejs %>

      <% include ../partials/messages.ejs %>
      <h1>Wikis</h1>

      <% if(currentUser ) { %>
        <a href="/wiki/new" class="btn btn-success">New Wiki</a>
      <% } %>

      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
          <% if(!wiki.private ) { %>
          <li class="list-group-item">
            <a href="/wiki/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
          <% } %>
        <% }) %>
      </ul>

      <% if(currentUser) { %>
        <h1>Private Wikis</h1>
        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if(wiki.private && (wiki.userId==currentUser.id || (wiki.collaborators.findIndex(collab=> collab.userId == currentUser.id)!=-1)) ) { %>
            <li class="list-group-item">
              <a href="/wiki/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
            <% } %>
          <% }) %>
        </ul>
      <% } %>

    </main>

    <% include ../partials/baseScript.ejs %>
  </body>
</html>
